@tailwind utilities;

:root {
  --bg-black: #020617;
  --bg-dark: #020617;
  --neon-cyan: #22d3ee;
  --neon-purple: #a855f7;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Inter", sans-serif;
  background: radial-gradient(circle at top, #020617 0, #000 55%);
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
